.footer .container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    background-color: #ebebeb ;
    margin-top: .75em; 
    padding: .50em;
}

.footer .logo {
    width: 2rem;
    size: 2rem;   
    margin-right: 1em;
}

.footer .copyright {
   display: flex;
   justify-content: center;
   flex: 3 1 350px
}

