.inquiryForm{
    max-width: 60%;
    margin: 0 auto; 
    text-align: center;
    padding: 10px; 
}
.inquiryForm label {
    text-align: left;
    display: block; 
}
.inquiryForm h2 {
    text-align: center;
    font-size: 30px; 
    color: #183C28; 
    margin: 30px;
}
.inquiryForm input, .inquiryForm textarea {
    width: 100%; 
    padding: 12px 10px; 
    margin: 10px 0 20px 0; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
    display: block;
}

.inquiryForm button {
    background: #183C28; 
    width: 60%; 
    color: white; 
    border: 0; 
    font-size: medium;
    padding: 15px; 
    border-radius: 8px;
    cursor: pointer;

}