@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
  margin: 0; 
  font-family: 'Roboto Condensed', sans-serif;
  color: black; 
  background-color: f1f0ea;
}

/* NAVBAR CSS */

.navbar {
  padding: 2em; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto; 
  border-bottom: 1px solid #2d232e;
}
.navbar .logo {
  border-radius: 50%;
  width: 40%; 
}
.navbar .links {
  margin-left: auto; 
}
.navbar a {
  margin-left: 1em; 
  text-decoration: none;
  padding: 6px; 
}
.navbar .links a:hover {
  background-color: #534b52; 
  color: rgb(215, 218, 211); 
}

/* WEBSITE CSS */

.webContent {
  max-width: 75%;
  margin: auto; 
  padding: 3em; 
}