@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

/* html {
  background: linear-gradient(90deg, #BEBFC4 50%, #FFFFFF 50%);
}  */

* {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

/* .webContent {
  max-width: 75%;
  margin: auto; 
  padding-top: 3em; 
} */

