@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

/* html {
  background: linear-gradient(90deg, #BEBFC4 50%, #FFFFFF 50%);
}  */

* {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  color: #303030;
}

/*.webContent {
  max-width: 75%;
  margin: auto; 
  padding-top: 3em; 
} */

/* Hex Colors 
Cream: #f0f0d8
Dark Green: #183c28
Light Green: #90a890
Black: #303030
*/
